.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-bottom: 50px;
}

.footer-title{
    font-family: sans-serif;
    cursor: default;
}

.footer-link{
    cursor: pointer;
}