.header-container{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    gap: 20px;
}

.header-link{
    border: 2px solid rgb(1, 113, 187);
    border-radius: 10px;
    font-family: sans-serif;
    text-decoration: none;
    color: rgb(1, 113, 187);
    padding: 10px;
}

.header-link:active{
    border: 2px solid rgb(1, 113, 187);
    border-radius: 10px;
    font-family: sans-serif;
    text-decoration: none;
    color: rgb(1, 113, 187);
    padding: 10px;
}

.header-link:not(:active){
    border: 2px solid rgb(1, 113, 187);
    border-radius: 10px;
    font-family: sans-serif;
    text-decoration: none;
    color: rgb(1, 113, 187);
    padding: 10px;
}