<link rel='stylesheet' href="../styles/header.css">
<div class="header-container">
    <img 
        src='../../assets/images.png'
        alt='Logo'
        width=100
        height=100>

    <a 
        href='../pages/enrollment_form.php'
        class='header-link'>Enrollment Form</a>

    <a 
        href='../pages/view_student.php'
        class='header-link'>View Student Information</a>

    <a 
        href='../pages/advertisement_survey_form.php'
        class='header-link'>Advertisement Survey Form</a>
        

    <a
        href="../pages/about.php"
        class="header-link">About</a>
</div>